@import "tailwindcss";


body {
    /* Tente buscar o arquivo DIRETAMENTE na raiz da pasta public */
    background-image : linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('/venom.png'); 
    
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

.carousel-container {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}


@keyframes marquee-scroll {
  from {
    transform: translateX(0); 
  }
  to {
    transform: translateX(-50%); 
  }
}


@keyframes marquee-scroll-reverse {
  from {
    transform: translateX(-50%); 
  }
  to {
    transform: translateX(0); 
  }
}